*.iml
.gradle
/local.properties
private
docs
backup
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/hello.keystore
/app/google-service-account-key.json
/teste
